<div class="d-flex justify-content-center align-items-center flex-wrap" style="height: 100vh;">

  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <div class="bg-light shadow p-3" style="width: 400px;">
      <app-log-in-form
        *ngIf="display === 'login'"
        (loggedIn)="userLoggedIn($event)"
        [backEnd]="backEnd"
      ></app-log-in-form>
  
      <app-register-form
        *ngIf="display === 'register'"
        (registered)="userRegistered($event)"
        [backEnd]="backEnd"
      ></app-register-form>
    </div>
  
    <div class="w-100"></div>
  
    <div class="text-center mt-3">
      <a *ngIf="display === 'login'" href="javascript:void(0)" (click)="showRegisterDisplay()">Register</a>
      <a *ngIf="display === 'register'" href="javascript:void(0)" (click)="showLogInDisplay()">Login</a>
    </div>
  </div>



</div>
